body        { margin: 0;
                padding: 0;
                background: #0000 url('images/page_bg') top repeat-x;
                font-family: "Oswald Light", Arial, Verdana, sans-serif;
                color: #000;}
h1          { font-family: "Oswald Light", Gadget, sans-serif;
                font-size: 24px;
                font-style: normal;
                font-variant: normal;
                font-weight: 700;
                line-height: 26.4px; }
h2, h3, h4, p, div, ul, dl
            { padding-left: 1em;
                padding-right: 2em;
                align: left;}
h4          { background-color: #D2B48C;
            	 font-size: 1.2em;
            	 padding-left: 10px;
            	 padding-bottom: 0px;
            	 border-bottom: 2px solid #221811;
            	 text-transform: uppercase;
              clear: left; }
main        { padding: 0px 0px 2em 0px;
	               margin-left: 200px;}
nav         { text-align: center;
                font-weight: bold;
                font-size: 1.5em;
                padding-top: 80px;
                float: left;
                width: 200px;}
nav a:link
            { color: #8e9fde; }
nav a:visited
            { color: #375adb; }
nav a:hover
            { color: #CC9933; }
nav ul
            { list-style-type: none;
                padding-left: 0;
                padding-bottom: 10px;}
footer      { font-weight: .1em;
                font-size: .7em;
                text-align: center;
                padding: 400px 20px 0px 20px;}
img         { padding-left: 10px;
                padding-right: 0px;}
nav a       { text-decoration: none; }
*           { box-sizing: border-box; }
#wrapper    { background-color: #231814;
                margin-left: auto;
                margin-right: auto;
                width: 80%;
                min-width: 900px;
                max-width: 1280px;
                box-shadow: 5px 5px 5px #828282;}
#details    { padding-left: 20%;
                padding-right: 20%;
                overflow: auto;}
#headshot   { width: 650px;
                height: auto;
                float: right;
                padding-right: 500px;}
