@font-face {
    font-family: 'Oswald'; 
    src: url('fonts/Oswald-Regular.ttf'); 
}

@font-face {
  font-family: 'Oswald-Bold';
  src: url('fonts/Oswald-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'Oswald-Light';
  src: url('fonts/Oswald-Light.ttf');
  font-weight: light;
}

@font-face {
  font-family: 'Oswald-ExtraLight';
  src: url('fonts/Oswald-ExtraLight.ttf');
  font-weight: ExtraLight;
}
button, select {
  font-family : 'Oswald-LightExtra';
  font-size   : .5em;
}

textarea, input {
  font-family : 'Oswald-Light';
  font-size: 1em;
}
body { 
  margin: 0;
  padding: 0;
  background: #0000 url('images/page_bg') top repeat-x;
  font-family: 'Oswald', Arial, Verdana, sans-serif;
  color: #000;
}

h1 { 
  font-family: "Oswald-Light", Gadget, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
}

h3, h4, p, div, ul, dl   {
  padding-left: 1em;
  padding-right: 2em;
  float: left;
}

main { 
  padding: 2em 0px 2em 0px;
  margin-left: 200px;
  font-family: "Oswald-Light";
}

a:link { 
  color: #375adb;
}

a:visited {
  color: #1f2633;
}

a:hover {
  color: #8B8181;
}

nav ul { 
  list-style-type: none;
  padding-left: 0;
  padding-bottom: 10px;
}

img {
  padding-left: 10px;
  padding-right: 0px;
}

nav a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#wrapper {
  background-color: #231814;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  min-width: 900px;
  max-width: 1280px;
  box-shadow: 5px 5px 5px #828282;
}

#details {
  padding-left: 20%;
  padding-right: 20%;
  overflow: auto;
}

.column {
  float: left;
}

.left {
  width: 35%;
}

.right {
  width: 65%;
}

#portpics {
  float: left; 
  height: 80%;
  width: 80%;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #1f2633;
  color: white;
}

#nav { 
  height: 100vh;
  padding: 0em 1em 0em;
  text-align: left;
  font-weight: normal;
  font-size: 1.1em;
  padding-top: 80px;
  float: left;
  width: 200px;
  position: static;
}

#nav li {
  margin: 0 0 10px 0;
}

#mobile {
  display: none;
}

#desktop { 
  display: inline;
}

.hero {
  /* Sizing */
  width: 100vw;
  height: 100vh;

  /* Flexbox stuff */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Background styles */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/banner.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
  
.hero h1 {
  color: white;
  font-size: 5em;
  margin-top: 0;
  margin-bottom: 0.3em;
}

.hero h2 {
  color: #1f2633;
  margin-top: 0em;
  margin-bottom: 0em;
}

.hero button {
  /* Positioning and sizing */
  display: block;
  width: 150px;
  
  /* Padding and margins */
  padding: 1em;
  margin-left: auto;
  margin-right: auto;
  
  /* Text styles */
  font-family: 'Oswald';
  color: white;
  font-size: 1em;
  
  /* Border styles */
  border: 2px solid rgba(255, 255, 255, 0.671);
  border-radius: 20px;
  
  /* Background styles */
  background-color: rgba(0, 0, 0, 0);

  cursor: pointer;
}

.hero button:hover {
  background-color: #1f2633;
  color: white;
}

@media only screen and (max-width: 1024px) {
	body { background-image: none;
		  margin: 0; }

	#wrapper { width: auto;
			  min-width: 0;
			  margin: 0;
			  box-shadow: none; }

	header { background-repeat: no-repeat;
		   background-position: center;
		   height: 80px; }

	nav { float: none;
		 width: auto;
		 padding-top: 0;
		 margin-top: 0; }

	nav li { display: inline-block; }

	nav a { padding: 1em;
		  font-size: 1.3em;
		  width: 8em;
		  font-weight: bold;
		  border-style: none; }

	nav ul { padding: 0;
		   margin: 0; }

	main { padding: 2em;
		  margin: 0;
		  font-size: 90%; }
}

@media only screen and (max-width: 768px) {
	nav a { display: block;
		  padding: 0.2em;
		  width: auto;
		  border-bottom: .1em;
		  border-bottom-color: #330000; }

	nav li { display: block; }

	h2 { padding: 0.5em 0 0 0.5em;
	    margin-right: 0.5em; }

	details { padding-left: 0;
		   padding-right: 0; }

	#mobile { display: inline; }

	#desktop { display: none; }
}
